@media screen and (max-width: 1050px)
	.product
		&-other
			&-slider
				.slick-prev
					left: 20px
			
				.slick-next
					right: 20px
	
	.modal-product
		.modal-body
			padding: 50px
			max-width: 800px
		
		&-slider
			&-wrap
				display: block
			
			&-nav
				margin: 0
					top: 30px
				max-width: 100%

				.slick-list
					margin: 0 -6px
				
				.slick-track
					+flex
					width: auto

				.slick-slide
					margin: 0 6px
					border: 1px solid transparent
					border-radius: 0
					+prefix(transition, $default-transition)
					outline: none

					&.slick-current.slick-active
						border: 1px solid $accent-dark-color

@media screen and (max-width: 991px)
	.header 
		&-bottom
			display: none

		&-menu-btn
			display: block

	.price-filter
		&-form 
			+flex-wrap(wrap)

		&-elem,
		&-elem:nth-child(1),
		&-elem:nth-child(2),
		&-elem:nth-child(3)
			max-width: 100%
	
		&-elem:nth-child(1)
			margin: 0

		&-elem:nth-child(2)
			margin: 0
		
		&-slider
			margin: 0 auto
				top: 35px
		
		&-input-wrap
			+justify-content(center)
		
		&-buttons
			margin:
				top: 40px
			+justify-content(center)

	.video-wrap,
	.main-category
		margin:
			top: 60px
	
	.main-category-wrap
		margin:
			bottom: 50px

	.modal-cart
		top: 138px

@media screen and (max-width: 961px)
	.header
		&-search
			&-input
				min-width: 150px
				max-width: 150px

	.wrapper 
		&-header
			margin:
				top: 60px
				bottom: 30px
	
	.product
		&-buy
			+flex-flow(column)

			&-price
				margin: 0
			
			&-btn
				margin:
					top: 10px

	.footer
		&-bottom
			+flex-wrap(wrap)

			.footer-elem
				margin:
					top: 10px
				padding:
					right: 0

@media screen and (max-width: 761px)
	.header
		&-wrap
			padding: 15px
		
		&-top
			height: 72px

		&-logo
			max-width: 120px

			img
				width: 100%

	.modal-cart
		top: 102px

	.mobile-menu
		top: 102px

	.media
		margin:
			top: 0
		&-elem
			width: 50%
	
	.product
		&-wrap
			+flex-wrap(wrap)
		
		&-elem:first-child,
		&-elem:last-child
			margin: 0
			width: 100%

		&-elem-info
			+flex
			+flex-flow(column)

		&-heading
			display: block

		&-slider
			margin: 0 auto
				top: 20px

		&-name,
		&-vendor
			display: none
		
		&-select
			&-wrap
				+justify-content(center)

		&-size
			order: 1
		
		&-spec
			order: 2
		
		&-select-box
			order: 3
		
		&-link
			margin: 0 auto
				top: 15px
			max-width: 385px
			order: 4

		&-discussion-btn
			margin: 0 auto
				top: 30px
			max-width: 270px
			order: 5
		
		&-buy
			order: 6
		
		&-faq
			order: 7

		&-other
			margin:
				top: 45px

			&-title
				margin:
					bottom: 25px
				font-size: 24px
			
			&-btn
				margin:
					top: 30px
				font-size: 18px

	.cart

		&-product
			&-wrap
				margin: 0
					left: 30px

		&-top
			+justify-content(flex-start)
			+flex-wrap(wrap)

		&-info
			margin:
				bottom: 20px
			width: 90%
		
		&-price
			margin:
				left: 20px

		&-delete
			position: absolute
			top: 0
			right: 0

		&-comment
			&-form
				&-bottom
					margin: 0
		
		&-menu
			+flex-flow(column)

			&-order
				margin: 0 auto
					top: 20px
				+flex-wrap(wrap)
				+justify-content(center)

				&-price
					margin: 0

	.feedback
		&-info-wrap
			padding:
				left: 30px
	
	.main-form
		padding: 30px 15px

	.cooperation
		&-wrap
			margin:
				top: 40px
			+flex-wrap(wrap)

		&-img-wrap,
		&-info
			width: 100%

		&-info
			margin:
				top: 40px
			padding:
				left: 0px
		
		&-form
			margin:
				top: 40px
			padding: 30px 15px 40px 15px

	.footer
		&-wrap
			+flex-wrap(wrap)
		
		&-left
			margin: 0 auto
				bottom: 20px
		
		&-top
			+justify-content(center)
			+flex-wrap(wrap)
			
			.footer-elem
				margin:
					right: 0
					top: 20px
				padding:
					right: 10px
				width: 50%
				text-align: center

@media screen and (max-width: 661px)
	.header
		&-number
			display: none	

		&-logo
			position: relative
			top: auto
			left: auto
			+prefix(transform, translate(0))
	
	.mobile-menu
		&-number
			display: block

@media screen and (max-width: 641px)
	.main-category
		
		&-wrap
			position: relative
			margin:
				bottom: 30px

		&-img-box
			padding:
				bottom: 45%
			width: 100%
			max-width: 100%

		&-img
			object-fit: cover
		
		&-text
			position: absolute
			margin: 0
			padding: 30px 15px
			bottom: 0
			left: 0
			width: 100%
			color: $white
			background-color: rgba(0,0,0, .4)

	.catalog
		&-elem
			width: 100%

	.main-collection
		margin:
			top: 40px

		.catalog-elem:nth-last-child(-n+2)
			display: none

	.feedback
		+flex-flow(column)

		&-form-wrap,
		&-info-wrap
			width: 100%
		
		&-info-wrap
			padding: 0

		&-info
			margin: 0 auto
				top: 40px
		
		.order-btn
			margin: 0 auto
				top: 30px
	
	.main-form
		max-width: 100%

@media screen and (max-width: 600px)
	.inst
		padding: 30px 15px

		&-wrap
			+flex-wrap(wrap)
			+justify-content(center)
		
		&-list
			margin: 0
				top: 40px
	
	.about
		&-media
			&-elem
				width: 33.33%

@media screen and (max-width: 520px)
	.product
		&-slider
			&-elem
				max-height: 400px

			&-img
				width: 100%
				height: auto
				object-fit: contain
				object-position: bottom center

	.modal-product
		.modal-body
			padding: 50px 15px 15px 15px

@media screen and (max-width: 500px)
	.cart
		&-product
			+flex-wrap(wrap)
			+justify-content(center)
		
			&-wrap
				margin:
					top: 20px
					left: 0
				max-width: 300px

		&-img-box
			max-width: 300px
			min-height: 300px
			max-height: 300px

		&-bottom
			margin:
				top: 20px
		
		&-menu
			margin:
				top: 40px
	
	.about
		&-media
			&-elem
				width: 50%

	.cooperation
		&-form
			&-wrap
				margin: 0 auto
					top: 20px
				+flex-flow(column)
			
			&-elem
				padding: 0
					top: 15px
				width: 100%

@media screen and (max-width: 475px)
	.wrapper
		margin:
			bottom: 50px

	.price
		&-filter
			&-title
				margin:
					right: 20px
			
			&-input
				max-width: 150px
	
	.tab
		&-nav
			&-elem
				padding:
					left: 20px
					right: 20px
				font-size: 18px

@media screen and (max-width: 420px)
	.modal
		padding: 70px 15px

		&-body
			padding: 30px 15px
				top: 50px
		
		&-terms-back-btn
			max-width: 100%

	.header.search-open
		.header-logo,
		.header-menu-btn,
		.header-cart
			display: none
		
		.header-buttons
			width: 100%
		
		.header-search
			width: 100%

			&-form
				width: 100%

			&-input 
				width: 100%
				max-width: 100%

	.video
		&-text
			font-size: 34px

		&-play-btn
			margin:
				top: 15px
			width: 42px
			height: 42px
	
	.media
		&-elem
			width: 100%
		
		&-img-box
			padding:
				bottom: 70%
	
	.product
		&-heading
			&-text
				font-size: 24px
			
			&-vendor
				font-size: 16px
		
		&-link
			font-size: 18px

		&-other
			&-elem
				max-width: 100%

	.cart
		&-empty
			text-align: center

	.main-form
		&-title
			text-align: center

		&-elem
			+flex-wrap(wrap)

		&-label
			margin: 0
		
		&-input
			margin:
				top: 10px

	.contact-map
		height: 250px

	.order-list
		&-elem
			padding: 12px 0

		&-heading
			&-value,
			&-num,
			&-price
				font-size: 24px
				line-height: 24px

			&-num
				margin:
					left: 10px
					right: 5px
			
			&-arrow
				margin:
					left: 5px
				width: 12px
				height: 7px
		
		&-info
			padding: 0
		
			&-elem
				padding:
					top: 10px
					bottom: 10px

				&:first-child
					margin:
						top: 15px

		&-value
			margin:
				bottom: 0
			padding: 30px 15px
	
	.links

		&-wrap
			padding:
				top: 50px
				bottom: 50px
			+flex-wrap(wrap)

		&-btn
			&:last-child
				margin:
					top: 20px

	.modal-cart
		&-wrap
			padding: 50px 15px 35px 15px

		&-delete
			right: 0
		
		&-img-box
			margin:
				right: 15px

		&-all-price
			margin: 0 -15px
				top: 35px

@media screen and (max-width: 350px)
	.price
		&-filter
			&-input-wrap
				+flex-flow(column)

			&-label
				margin: 0 auto
					top: 10px
				width: 100%
				max-width: 315px

				&:last-child
					margin: 0 auto
						top: 10px

			&-input
				width: 100%
				max-width: 100%
	
	.about
		&-media
			margin: 0
			&-elem
				padding: 10px 0
				width: 100%

			

				