$accent-dark-color: #191917
$white: #ffffff
$font-light-color: #A8A8A8

$bg-color-light: #F5F7F8

$adobe-font: "Adobe Clean", sans-serif
$montserrat-font: "Montserrat", sans-serif
$PlayfairDisplaySC-font: "PlayfairDisplaySC", serif
$PTSerifCaption-font: "PTSerifCaption", serif
$default-transition: .35s
$default-opacity: .8

*, body, html 
	margin: 0
	padding: 0
	font-family: $adobe-font
	box-sizing: border-box

html, body
	min-width: 320px
	font-weight: 400
	font-style: normal
	color: $accent-dark-color
	background-color: $white

html
	height: 100%
	scroll-behavior: smooth

body 
	position: relative
	height: 100%
	// overflow: hidden

button,
input,
textarea,
select
	outline: none
	border-radius: 0
	-moz-appearance: none
  -webkit-appearance: none
  +prefix(appearance, none)

a
	text-decoration: none

.default-btn
	display: block
	padding: 11px 10px 9px 10px
	width: 100%
	max-width: 310px
	font-size: 22px
	line-height: 26px
	color: $white
	text-align: center
	background-color: $accent-dark-color
	border: 2px solid $accent-dark-color
	+prefix(transition, $default-transition)
	cursor: pointer

	&:hover
		color: $accent-dark-color
		background-color: $white

.header-slider
	position: relative
	width: 100%
	height: 100vh
	overflow: hidden

	&-elem
		position: relative
		width: 100%
		height: 100%

	&-img
		width: 100% 
		height: 100%
		object-fit: scale-down

	.slick-arrow
		position: absolute
		bottom: 26px
		width: 100%
		max-width: 314px
		height: 24px
		border: 0
		background-color: transparent
		z-index: 10
		cursor: pointer

	button.slick-prev,
	button.slick-next
		position: absolute
		width: 13px
		height: 24px
		font-size: 0

	button.slick-prev
		margin:
			left: -160px
		left: 50%
		background-image: url(../img/icon/arrow-slider-left.svg)
	
	button.slick-next
		margin:
			right: -160px
		right: 50%
		background-image: url(../img/icon/arrow-slider-right.svg)

	.slick-dots
		+flex
		position: absolute
		bottom: 30px
		left: 50%
		list-style-type: none
		+prefix(transform, translate(-50%))
		+justify-content(center)

		li
			display: inline-block
			position: relative
			margin:
				right: 28px
				left: 15px

			&:first-child
				margin:
					left: 0

			&:last-child
				margin:
					right: 0
				&::after
					display: none

			&::after
				content: ''
				display: block
				position: absolute
				top: 7px
				right: -28px
				width: 13px
				height: 1px
				background-color: rgba(255, 255, 255, .5)

			&.slick-active
				button
					border-color: transparent
					background-color: rgba(255, 255, 255, .5)

		button
			display: block
			position: relative
			width: 15px
			height: 15px
			font-size: 0
			background-color: transparent
			border: 2px solid rgba(255, 255, 255, .5)
			border-radius: 15px
			+prefix(transition, $default-transition)
			cursor: pointer

.wrapper-box
	+flex
	position: relative
	min-height: 100%
	+flex-direction(column)
	+align-items(center)

.wrapper
	margin:
		bottom: 100px
	padding: 0 15px
	width: 100%
	max-width: 1200px
	-webkit-box-flex: 1
	-ms-flex: 1 0 auto
	flex: 1 0 auto

	&-header
		margin:
			top: 100px
			bottom: 60px
		font-size: 30px
		line-height: 40px
		text-transform: uppercase
		text-align: center

.video-wrap
	position: relative
	margin: 0 
		top: 130px
	max-height: 658px
	padding: 0

.video
	position: relative
	margin: 0
	padding: 0
	width: 100%
	height: auto
	outline: none
	overflow: hidden
	z-index: 5

	&-prev
		+flex
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100% 
		height: 100%
		border: 0
		background-color: rgba(25, 25, 23, 0.3)
		+flex-flow(column)
		+align-items(center)
		+justify-content(center)
		z-index: 10
		cursor: pointer
		
	&-text
		font-family: $PlayfairDisplaySC-font
		font-size: 50px
		color: $white
		text-transform: uppercase
	
	&-play-btn
		margin:
			top: 35px
		width: 64px
		height: 64px
		background-color: transparent
		background-image: url(../img/icon/play-icon.svg)
		background-position: center center
		background-size: cover
		background-repeat: no-repeat
		+prefix(transition, $default-transition)

		&:hover
			+prefix(transform, scale(1.1))

.catalog

	&-wrap
		+flex
		+justify-content(space-between)
		+flex-wrap(wrap)

		&.catalog-arr
			.catalog-elem
				&:hover
					.catalog-name
						text-decoration: none
			
			.catalog-name
				padding:
					right: 70px

	&-elem
		position: relative
		margin:
			bottom: 30px
		padding:
			bottom: 48.8%
		width: 48.8%
		overflow: hidden

		&:hover
			.catalog-btn
				&::after
					width: 100%
			
			.catalog-name
				text-decoration: underline

	&-img
		display: block
		position: absolute
		margin: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		max-width: 100%
		height: 100%
		max-height: 100%

	&-info
		position: absolute
		bottom: 15px
		left: 0
		width: 100%
		height: 70px

	&-name
		position: relative
		padding: 17px 45px
		font-size: 30px
		color: $white
		text-transform: uppercase
		text-align: center
		z-index: 1
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
	
	&-btn
		position: absolute
		padding: 20px 25px
		top: 0
		right: 0
		width: 100%
		height: 100%

		&::after
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			width: 70px
			height: 100%
			background-color: rgba(25, 25, 23, .5)
			+prefix(transition, $default-transition)
			z-index: 0

		&-img
			position: relative
			float: right
			z-index: 1
	
	&-all
		display: block
		margin: 0 auto
			top: 10px
		padding: 12px
			bottom: 10px
		width: 100% 
		max-width: 300px
		font-size: 22px
		font-weight: 700
		color: $accent-dark-color
		border: 1px solid $accent-dark-color
		text-align: center
		+prefix(transition, $default-transition)

		&:hover
			color: $white
			background-color: $accent-dark-color

.inst
	display: block
	padding: 60px 15px
	width: 100%
	background-color: $accent-dark-color

	&-wrap
		+flex
		margin: 0 auto
		max-width: 1170px
		+justify-content(space-between)

	&-title
		+flex
		+align-items(center)

	&-text
		position: relative
		margin:
			left: 25px
		font-size: 40px
		color: $white

		&:after
			content: 'В инстаграмме'
			position: absolute
			bottom: -10px
			left: 0
			font-size: 13px
			color: #a7a7a7
			text-transform: uppercase

	&-list
		+flex
		margin:
			left: 60px
		width: 100%
		max-width: 860px
		+justify-content(space-between)

		&-elem
			position: relative
			padding:
				bottom: 23.3%
			width: 23.3%

		&-img
			display: block
			position: absolute
			margin: auto
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			max-width: 100%
			height: 100%
			max-height: 100%

.inst-single
	.inst-wrap
		+justify-content(center)

.price-filter
	position: relative

	&-form
		+flex
		+align-items(center)
		+justify-content(space-between)

	&-elem
		width: 100%

		&:nth-child(1)
			margin: 
				right: 40px
			max-width: 47%
		
		&:nth-child(2)
			margin:
				right: 40px
			max-width: 27%
		
		&:nth-child(3)
			max-width: 19%

	&-input-wrap
		+flex
		+align-items(center)

	&-title
		margin:
			right: 40px
		font-size: 18px
		text-transform: uppercase

	&-label
		position: relative
		margin:
			right: 15px

		&:last-child
			margin:
				right: 0

	&-input
		padding: 14px 25px 
			left: 55px
			right: 15px
		max-width: 220px
		font-size: 18px
		border: 1px solid $accent-dark-color

		&-title
			position: absolute 
			top: 50%
			left: 25px
			font-size: 18px
			color: $font-light-color
			+prefix(transform, translateY(-50%))

	&-slider
		position: relative
		max-width: 315px
		height: 4px
		background-color: #E3E3E3
		border: 0 !important
		border-radius: 0

		.ui-slider-range
			background-color: $accent-dark-color

		.ui-slider-handle
			top: -14px
			width: 30px
			height: 30px
			background-color: $white
			border: 1px solid $accent-dark-color
			border-radius: 100px

			&:focus
				outline: none

		&-min,
		&-max
			position: absolute
			width: 50px
			font-size: 13px
			color: $font-light-color
			text-align: center

	&-buttons
		+flex
		+align-items(center)

	&-btn
		max-width: 185px
		font-size: 18px

		&-value
			color: $font-light-color

	&-clear
		margin:
			left: 15px
		width: 20px
		height: 20px
		background-image: url(../img/icon/cross-icon.svg)
		background-size: cover 
		background-position: center center
		background-repeat: no-repeat

.media
	+flex
	margin: 0 -15px
		top: 45px
	+flex-wrap(wrap)

	&-elem
		display: block
		margin:
			top: 60px
		padding: 0 15px
		width: 33.33%
		text-align: center

		&:hover
			.media-name
				text-decoration: underline
	
	&-img-box
		position: relative
		padding:
			bottom: 100%
		width: 100%
	
	&-img
		display: block
		position: absolute
		margin: auto
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		max-width: 100%
		height: 100%
		max-height: 100%
	
	&-name
		display: inline-block
		position: relative
		margin: 0 auto
			top: 25px
		width: 100%
		font-size: 16px
		text-transform: uppercase
		color: $accent-dark-color
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
	
	&-price
		margin:
			top: 7px
		font-size: 14px
		color: $accent-dark-color

.show-more
	margin: 0 auto
		top: 70px
	max-width: 300px

.pagination
	+flex
	margin:
		top: 60px
	+justify-content(center)
	+align-items(center)

	&-elem
		+flex
		margin: 0 5px
		padding: 10px 0 6px 0
		font-size: 18px
		line-height: normal
		color: $accent-dark-color
		width: 30px
		height: 30px
		border: 1px solid $accent-dark-color
		+justify-content(center)
		+align-items(center)
		+prefix(transition, $default-transition)

		&:not(.active):hover
			color: $font-light-color

	&-elem.active
		color: $white
		background-color: $accent-dark-color
	
	&-delimer
		border-color: transparent

	&-nav
		border-color: transparent
		&-icon
			path
				+prefix(transition, $default-transition)
		
		&:not(.disabled):hover
			.pagination-nav-icon
				path
					fill: #000
	
	&-nav.disabled 
		.pagination-nav-icon
			path
				fill: #C4C4C4

