.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="category_page.html" target="_blank") 
					| 2. Консоли и столы 
					span (category_page.html)
			li
				a(href="collections_page.html" target="_blank") 
					| 3. Коллекции 
					span (collections_page.html)
			li
				a(href="collection_page.html" target="_blank") 
					| 4. Коллекция 
					span (collection_page.html)
			li
				a(href="catalog_page.html" target="_blank") 
					| 5. Каталог 
					span (catalog_page.html)
			li
				a(href="product_page.html" target="_blank") 
					| 6. Продукт 
					span (product_page.html)
			li
				a(href="cart_page.html" target="_blank") 
					| 7. Корзина 
					span (cart_page.html)
			li
				a(href="cart_empty_page.html" target="_blank") 
					| 8. Корзина пустая 
					span (cart_empty_page.html)
			li
				a(href="order_page.html" target="_blank") 
					| 9. Оформление заказа 
					span (order_page.html)
			li
				a(href="contact_page.html" target="_blank") 
					| 10. Контакты 
					span (contact_page.html)
			li
				a(href="individual_page.html" target="_blank") 
					| 11. Индивидуальные заказы  
					span (individual_page.html)
			li
				a(href="choose_page.html" target="_blank") 
					| 12. Как выбрать мебель 
					span (choose_page.html)
			li
				a(href="about_page.html" target="_blank") 
					| 13. О нас 
					span (about_page.html)
			li
				a(href="cooperation_page.html" target="_blank") 
					| 14. Сотрудничество 
					span (cooperation_page.html)
			li
				a(href="order_list_page.html" target="_blank") 
					| 15. Список заказов 
					span (order_list_page.html)
			li
				a(href="preloader_page.html" target="_blank") 
					| Прелоадер 
					span (preloader_page.html)