.all-page
	.all-page_box
		.all-page_title 
			img(src="style/img/icon/logo.svg", alt="Logo")
			span Список всех страниц:
		ul.all-page_list
			li
				a(href="main_page.html" target="_blank") 
					| 1. Главная страница 
					span (main_page.html)
			li
				a(href="category_page.html" target="_blank") 
					| 2. Консоли и столы 
					span (category_page.html)
			li
				a(href="collections_page.html" target="_blank") 
					| 3. Коллекции 
					span (collections_page.html)
			li
				a(href="collection_page.html" target="_blank") 
					| 4. Коллекция 
					span (collection_page.html)
			li
				a(href="catalog_page.html" target="_blank") 
					| 5. Каталог 
					span (catalog_page.html)
			li
				a(href="product_page.html" target="_blank") 
					| 6. Продукт 
					span (product_page.html)
			li
				a(href="preloader_page.html" target="_blank") 
					| Прелоадер 
					span (preloader_page.html)