include ../var/top_line.pug

.wrapper-box
	.wrapper
		.wrapper-header Каталог

		.catalog-wrap.catalog-arr
			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-1.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Aura
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img

			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-2.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Bairo
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img

			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-3.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Bernetto
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img

			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-4.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Fornetti
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img
			
			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-3.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Bernetto
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img

			a(href="").catalog-elem
				img(src="style/img/collection/collection-img-4.jpg", alt="").catalog-img
				.catalog-info
					.catalog-name Fornetti
					.catalog-btn
						img(src="style/img/icon/arrow-link-right.svg", alt="").catalog-btn-img

		button.default-btn.show-more Показать еще

		.pagination
			a(href="").pagination-elem.pagination-nav.disabled
				svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
					path(d="M0.378819 7.38418L6.85423 13.8417C7.06639 14.0531 7.40988 14.0528 7.62169 13.8406C7.83333 13.6284 7.83278 13.2847 7.62059 13.0731L1.53062 6.99998L7.62081 0.926845C7.83297 0.715204 7.83352 0.371741 7.6219 0.159554C7.51573 0.0531874 7.37663 3.84998e-06 7.23753 3.86214e-06C7.09879 3.87427e-06 6.96024 0.0528317 6.85426 0.158461L0.378819 6.6158C0.276636 6.71746 0.219296 6.85582 0.219296 6.99998C0.219296 7.14413 0.2768 7.28233 0.378819 7.38418Z" fill="#191917")
			a(href="").pagination-elem 1
			a(href="").pagination-elem.active 2
			a(href="").pagination-elem 3
			a(href="").pagination-elem.pagination-delimer ... 
			a(href="").pagination-elem 10
			a(href="").pagination-elem.pagination-nav
				svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg").pagination-nav-icon
					path(d="M7.62118 6.61582L1.14577 0.158317C0.933608 -0.0531316 0.590117 -0.0527762 0.378314 0.15941C0.166674 0.37157 0.167221 0.715252 0.379407 0.926865L6.46938 7.00002L0.379188 13.0732C0.167029 13.2848 0.166482 13.6283 0.378095 13.8404C0.48427 13.9468 0.623367 14 0.762465 14C0.901206 14 1.03976 13.9472 1.14574 13.8415L7.62118 7.3842C7.72336 7.28254 7.7807 7.14418 7.7807 7.00002C7.7807 6.85587 7.7232 6.71767 7.62118 6.61582Z" fill="#191917")
	
	a(href="").inst.inst-single
		.inst-wrap
			.inst-title
				.inst-logo
					img(src="style/img/icon/inst-icon.svg", alt="")
				.inst-text Ambicioni

	include ../var/footer.pug