include ../var/top_line.pug

.wrapper-box
	.wrapper
		.wrapper-header 3D модели

		.wrapper-test-btn
		.default-btn.btn-inv.modal-btn(style="margin: 0 auto; margin-bottom: 20px;" data-modal-btn="log-modal") Войти
		.default-btn.btn-inv.modal-btn(style="margin: 0 auto;" data-modal-btn="password-modal") Восставновление пароля
	
	a(href="").inst.inst-single
		.inst-wrap
			.inst-title
				.inst-logo
					img(src="style/img/icon/inst-icon.svg", alt="")
				.inst-text Ambicioni

	include ../var/footer.pug