include ../var/top_line.pug

.wrapper-box
	.wrapper
		.product-wrap
			.product-elem
				.product-slider
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
				.product-slider-nav
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img
					.product-slider-nav-elem
						img(src="style/img/product-img-1.jpg", alt="").product-slider-img

			.product-elem
	
	a(href="").inst
		.inst-wrap
			.inst-title
				.inst-logo
					img(src="style/img/icon/inst-icon.svg", alt="")
				.inst-text Ambicioni
			.inst-list
				.inst-list-elem
					img(src="style/img/instagram/inst-img-1.jpg", alt="").inst-list-img
				.inst-list-elem
					img(src="style/img/instagram/inst-img-2.jpg", alt="").inst-list-img
				.inst-list-elem
					img(src="style/img/instagram/inst-img-3.jpg", alt="").inst-list-img
				.inst-list-elem
					img(src="style/img/instagram/inst-img-4.jpg", alt="").inst-list-img


	include ../var/footer.pug