footer.footer
	.footer-wrap 
		.footer-left
			a(href="").footer-logo
				img(src="style/img/icon/logo.svg", alt="")
			a(href="tel:+79697775683").footer-phone + 7 969 777 5683
			span.footer-copyright © 2020/Все права защищены
		.footer-right
			.footer-top
				.footer-elem
					.footer-heading Каталог
					ul.footer-list
						li
							a(href="").footer-link Комоды, тв-тумбы
						li
							a(href="").footer-link Витрины и буфеты
						li
							a(href="").footer-link Мебель в спальню
						li
							a(href="").footer-link Шкафы
						li
							a(href="").footer-link Консоли и столы
						li
							a(href="").footer-link Мебель в ванную
						li
							a(href="").footer-link Зеркала

				.footer-elem
					.footer-heading Коллекции
					ul.footer-list
						li
							a(href="").footer-link Aura
						li
							a(href="").footer-link Bairo
						li
							a(href="").footer-link Bernetto
						li
							a(href="").footer-link Fornetti
				
				.footer-elem
					.footer-heading Индивидуальные заказы
					ul.footer-list
						li
							a(href="").footer-link Заказ №1
						li
							a(href="").footer-link Заказ №2
						li
							a(href="").footer-link Заказ №3
						li
							a(href="").footer-link Заказ №4
				
				.footer-elem
					.footer-heading О нас
					ul.footer-list
						li
							a(href="").footer-link Видео
						li
							a(href="").footer-link Мы на рынке
						li
							a(href="").footer-link Фото шоурума
						li
							a(href="").footer-link Видео шоурума
						li
							a(href="").footer-link Портфолио
				
				.footer-elem
					.footer-heading Как выбрать мебель
					ul.footer-list
						li
							a(href="").footer-link Пункт №1
						li
							a(href="").footer-link Пункт №2
						li
							a(href="").footer-link Пункт №3
						li
							a(href="").footer-link Пункт №4
		
			.footer-bottom
				.footer-elem
					a(href="").footer-heading Сотрудничество
				.footer-elem
					a(href="").footer-heading Доставка и оплата
				.footer-elem
					a(href="").footer-heading Контакты
				.footer-elem
					a(href="").footer-link Правила пользования сайтом
				.footer-elem
					a(href="").footer-link Политика конфиденциальности
				