.modal.modal-discussion(data-modal="discussion-modal")
	.modal-bg
	.modal-body
		.modal-close
		.modal-heading Обсудить с менеджером
		.modal-discussion-info-wrap
			.modal-discussion-info-elem
				.modal-discussion-info-img-box
					img(src="style/img/product-img-1.jpg", alt="").modal-discussion-info-img
			.modal-discussion-info-elem
				.modal-discussion-info-name Обувной шкаф Contorno
		form(action="").modal-form
			input(type="text" placeholder="Имя").modal-input
			input(type="text" placeholder="Телефон").modal-input
			.modal-form-delimer Или
			input(type="text" placeholder="Email").modal-input
			button.default-btn.modal-form-btn Отправить

.modal.modal-product(data-modal="product-modal")
	.modal-bg
	.modal-body
		.modal-close
		.modal-product-slider-wrap
			.modal-product-slider
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
				.modal-product-slider-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-img
			.modal-product-slider-nav
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
				.modal-product-slider-nav-elem
					img(src="style/img/product-img-1.jpg", alt="").modal-product-slider-nav-img
		
.modal.modal-faq(data-modal="faq-modal")
	.modal-bg
	.modal-body
		.modal-close
		.modal-faq-heading Название вопроса
		p.custom-text
			| Ретро-дизайн с современным кроем. Две раздвижные двери, три отделения с 
			| полками. Яркие контрастные внутренние вставки окрашенные эмалью на 
			| фоне натуральной древесины придают ему особый вид.
		.custom-list-wrap
			.custom-list-title Список:
			ol.custom-list
				li Первый пункт
				li Второй пункт
				li Третий пункт
				li Четвертый пункт
				li Пятый пункт
				li Особая привелегия
		p.custom-text
			| Ретро-дизайн с современным кроем. Две раздвижные двери, три отделения с 
			| полками. Яркие контрастные внутренние вставки окрашенные эмалью на 
			| фоне натуральной древесины придают ему особый вид.

.modal.modal-quick
	.modal-bg
	.modal-body
		.modal-close
		.modal-heading Быстрый заказ
		.modal-description 
			| Отправьте нам свой телефон, в ближайшее время мы с 
			| Вами свяжемся для уточнения всех деталей.
		.modal-form
			input(type="text" placeholder="Имя").modal-input
			input(type="text" placeholder="Телефон").modal-input
			button.default-btn.modal-form-btn Заказать

.modal.modal-order
	.modal-bg
	.modal-body
		.modal-close
		.modal-heading Заказ оформлен
		.modal-description
			| Ваш заказ оформлен! Информация по доставке придет 
			| на почту в течение 5 минут!
		a(href="").default-btn.modal-order-back-btn Вернуться к покупкам

.modal.modal-terms
	.modal-bg
	.modal-body
		.modal-close
		.modal-faq-heading Условия работы
		p.custom-text
			| Ретро-дизайн с современным кроем. Две раздвижные двери, три отделения с 
			| полками. Яркие контрастные внутренние вставки окрашенные эмалью на 
			| фоне натуральной древесины придают ему особый вид.
		.custom-list-wrap
			.custom-list-title Список:
			ol.custom-list
				li Первый пункт
				li Второй пункт
				li Третий пункт
				li Четвертый пункт
				li Пятый пункт
				li Особая привелегия
		p.custom-text
			| Ретро-дизайн с современным кроем. Две раздвижные двери, три отделения с 
			| полками. Яркие контрастные внутренние вставки окрашенные эмалью на 
			| фоне натуральной древесины придают ему особый вид.
		
		a(href="").default-btn.modal-terms-back-btn Вернуться к покупкам