header.header
	.header-wrap
		.header-top
			a(href="tel:+79697775683").header-number + 7 969 777 5683
			.header-logo
				img(src="style/img/icon/logo.svg", alt="")
			.header-buttons
				.header-search
					.header-search-btn
						img(src="style/img/icon/search-icon.svg", alt="")
				.header-cart
					.header-cart-btn
						img(src="style/img/icon/cart-icon.svg", alt="")
		.header-bottom
			nav.header-nav
				ul.header-nav-list
					li
						a(href="").header-nav-link Каталог
					li
						a(href="").header-nav-link Коллекции
					li
						a(href="").header-nav-link Индивидуальные заказы
					li
						a(href="").header-nav-link О нас
					li
						a(href="").header-nav-link Как выбрать мебель
					li
						a(href="").header-nav-link Сотрудничество
					li
						a(href="").header-nav-link Доставка и оплата
					li
						a(href="").header-nav-link Контакты